<mat-grid-list cols="2" rowHeight="2:1" gutterSize="16px">
  <mat-grid-tile>
    <p style="text-align: center">
      Nombre de joueur connecter (SAMPLE)<br><br>
      <span style="font-size: 40px">100/2000</span>
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    <p style="text-align: center">
      Nombre de joueur unique<br><br>
      <span style="font-size: 40px">{{ nbPlayerUnique }}</span>
    </p></mat-grid-tile>
</mat-grid-list>
<br>
<mat-card style="padding: 10px">

  <h4>Rechercher un joueur</h4>

  <mat-form-field class="example-form-field">
    <input matInput placeholder="Rechercher" [(ngModel)]="searchTerm">
    <button mat-button matSuffix>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>


</mat-card>
<br>
<mat-card style="padding: 10px">

  <mat-list role="list">
    <ng-container *ngFor="let playerOne of playerAll | filter: searchTerm">
      <mat-list-item role="listitem" routerLink="/player/{{ playerOne.uuid }}">
        <div matListItemAvatar><img src="https://minotar.net/helm/{{ playerOne.name }}" alt="skin" width="40"></div>
        <div matListItemTitle>{{ playerOne.name }}</div>
        <div matListItemLine>{{ playerOne.uuid }}</div>
      </mat-list-item>
    </ng-container>
  </mat-list>

</mat-card>
