<hgroup>
  <img width="80" src="https://tyrolium.fr/Contenu/Image/Tyrolium%20ServerMC%20Sword%203D.png" alt="tyroserv">
  <h1>TyroServ PanelAdmin</h1>
  <h3>Avec les comptes Useritium</h3>
</hgroup>
<form>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password"><span class="highlight"></span><span class="bar"></span>
    <label>Mots de passe</label>
  </div>
  <button type="button" class="button buttonBlue">Se connecter
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="https://tyrolium.fr/" target="_blank"><img src="https://tyrolium.fr/Contenu/Image/Tyrolium Site.png"></a>
  <p>Copyright © 2017-2024 All Rights Reserved by <a href="https://tyrolium.fr/" target="_blank">Tyrolium</a></p>
</footer>
