<ng-container *ngIf="playerInfo">
<mat-card class="full-width-card" >
  <div style="width: 100%;margin-bottom: 10px">
    <img style="margin: auto" src="https://minotar.net/helm/{{ playerInfo?.player?.name }}" width="70">
  </div>
  <h1>{{ playerInfo?.player?.name}}</h1>
</mat-card>
<br><br>
<mat-card style="padding: 10px">
  <mat-list role="list">

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>UUID</div>
      <div matListItemTitle>
        {{ playerInfo.player.uuid }}
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>Faction</div>
      <div matListItemTitle>
        <button mat-raised-button color="primary" routerLink="/faction/{{ playerInfo.faction.id }}" style="text-transform: capitalize">{{ playerInfo.faction.name }}</button>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>Argent</div>
      <div matListItemTitle>
        {{ playerInfo.money.wallet }}
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>Roles</div>
      <div matListItemTitle>
        <ng-container *ngFor="let roleOne of playerInfo.roles">
          <button mat-flat-button color="primary" style="text-transform: capitalize">{{ roleOne.displayName }}</button>
        </ng-container>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>Useritium</div>
      <div matListItemTitle>
        NONE
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="start" matListItemAvatar>Création</div>
      <div matListItemTitle>
        NONE
      </div>
    </mat-list-item>

    <mat-list-item role="listitem">
      <div class="startunique" matListItemAvatar>Dernière connexion</div>
      <div matListItemTitle>
        NONE
      </div>
    </mat-list-item>

  </mat-list>
</mat-card>
<br><br>
<mat-card style="padding: 20px">

  <h2>Statistiques du joueur</h2>
  <mat-tab-group>

    <!--TOUT LES SERVERS-->
    <mat-tab label="Tout les serveurs">
      <mat-list>

        <!--TRIE TYPE-->
        <ng-container *ngFor="let typeOne of statsType">
          <div mat-subheader>{{ typeOne.name }}</div>
          <ng-container *ngFor="let stat of statsAll">
            <mat-list-item *ngIf="this.typeStats(stat[0]) == typeOne.type">
              <div matListItemIcon>
                <img src="https://tyroserv.fr/texture/{{ this.formatageStatsUrl(stat[0], typeOne.type) }}"
                     width="24px"
                     (error)="imageLoadFailed($event)">
              </div>
              <div matListItemTitle>
                {{ this.formatageStatsName(stat[0], typeOne.type) }} : <span style="color: darkred">{{ stat[1] }}</span>
              </div>
            </mat-list-item>
          </ng-container>
        </ng-container>

        <!--AUTRE-->
        <div mat-subheader>Autre</div>
        <ng-container *ngFor="let stat of statsAll">
          <mat-list-item *ngIf="this.typeStats(this.formatageStats(stat[0])) == 'classic'">
            <mat-icon matListItemIcon>bolt</mat-icon>
            <div matListItemTitle>
              {{ this.formatageStats(stat[0]) }} : <span style="color: darkred">{{ stat[1] }}</span>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="this.typeStats(stat[0]) == 'none'">
            <mat-icon matListItemIcon>bolt</mat-icon>
            <div matListItemTitle>
              {{ this.formatageStats(stat[0]) }} : <span style="color: darkred">{{ stat[1] }}</span>
            </div>
          </mat-list-item>
        </ng-container>

      </mat-list>
    </mat-tab>

    <!--PAR SERVEUR-->
    <ng-container *ngFor="let servOne of servInfo">
      <mat-tab label="{{ servOne.name }}">
        <mat-list>

          <!--TRIE TYPE-->
          <ng-container *ngFor="let typeOne of statsType">
            <div mat-subheader>{{ typeOne.name }}</div>
            <ng-container *ngFor="let stat of statsWorld[servOne.name]">
              <mat-list-item *ngIf="this.typeStats(stat[0]) == typeOne.type">
                <div matListItemIcon>
                  <img src="https://tyroserv.fr/texture/{{ this.formatageStatsUrl(stat[0], typeOne.type) }}"
                       width="24px"
                       (error)="imageLoadFailed($event)">
                </div>
                <div matListItemTitle>
                  {{ this.formatageStatsName(stat[0], typeOne.type) }} : <span style="color: darkred">{{ stat[1] }}</span>
                </div>
              </mat-list-item>
            </ng-container>
          </ng-container>

          <!--AUTRE-->
          <div mat-subheader>Autre</div>
          <ng-container *ngFor="let stat of statsWorld[servOne.name]">
            <mat-list-item *ngIf="this.typeStats(this.formatageStats(stat[0])) == 'classic'">
              <mat-icon matListItemIcon>bolt</mat-icon>
              <div matListItemTitle>
                {{ this.formatageStats(stat[0]) }} : <span style="color: darkred">{{ stat[1] }}</span>
              </div>
            </mat-list-item>
            <mat-list-item *ngIf="this.typeStats(stat[0]) == 'none'">
              <mat-icon matListItemIcon>bolt</mat-icon>
              <div matListItemTitle>
                {{ this.formatageStats(stat[0]) }} : <span style="color: darkred">{{ stat[1] }}</span>
              </div>
            </mat-list-item>
          </ng-container>




        </mat-list>
      </mat-tab>
    </ng-container>

  </mat-tab-group>

</mat-card>


</ng-container>
