
.full-width-card {
  width: 100%;
  text-align: center;
  padding: 30px;
}
.full-width-card h1{
  margin: unset;
}
.full-width-card img{
  border-radius: 5px;
}

div.start{
  margin-right: 40px;
  margin-top: 20px!important;
}

div.startunique{
  margin-right: 40px;
}

button{
  margin-right: 8px;
}
