
<mat-card class="full-width-card">
  <div style="height: 100%;width: 100%">
    <canvas id="myChart" style="margin: auto;height: 100%;
  width: 100%;
}"></canvas>
  </div>
</mat-card>
<br><br>
<mat-card class="not-full-width-card" style="padding: 10px">
  <h3 style="text-align: center">
    Choix du serveur
  </h3>

  <section class="example-section">
    <label class="example-margin">Serveur:</label>
    <mat-radio-group>
      <mat-radio-button class="example-margin" value="all" checked>All</mat-radio-button>
      <mat-radio-button class="example-margin" value="before">defaultMap</mat-radio-button>
      <mat-radio-button class="example-margin" value="before">devMap</mat-radio-button>
    </mat-radio-group>
  </section>
</mat-card>
<br><br>
<mat-card style="padding: 10px">
  <h3>Liste des items</h3>
  <mat-list>
    <ng-container *ngFor="let stat of statsAll">
      <mat-list-item>{{ stat[0] }} : <span style="color: green">{{ stat[1] }}</span></mat-list-item>
    </ng-container>
  </mat-list>

</mat-card>

