
<mat-card class="full-width-card">
  <div style="height: 100%;width: 100%">
    <canvas id="myChart" style="margin: auto;height: 100%;
  width: 100%;
}"></canvas>
  </div>
</mat-card>
<br><br>
<mat-card style="padding: 20px">

  <h2>Statistiques du global</h2>
  <mat-tab-group>

    <!--TOUT LES SERVERS-->
    <mat-tab label="Tout les serveurs">
      <mat-list>
        <ng-container *ngFor="let stat of statsAll">
          <mat-list-item>{{ stat[0] }} : <span style="color: green">{{ stat[1] }}</span></mat-list-item>
        </ng-container>
      </mat-list>
    </mat-tab>

    <!--PAR SERVEUR-->
    <ng-container *ngFor="let servOne of servInfo">
      <mat-tab label="{{ servOne.name }}">
        <mat-list>
          <ng-container *ngFor="let stat of statsWorld[servOne.name]">
            <mat-list-item>{{ stat[0] }} : <span style="color: green">{{ stat[1] }}</span></mat-list-item>
          </ng-container>
        </mat-list>
      </mat-tab>
    </ng-container>

  </mat-tab-group>

</mat-card>

