<ng-container *ngIf="!isLog">
  <app-login></app-login>
</ng-container>

<ng-container *ngIf="isLog">
  <app-sidebar></app-sidebar>
</ng-container>

<ng-container *ngIf="Debug">
  <div *ngIf="AppEnv == 'DEV'" class="bubble" style="background-color: #ffef00;">API : LOCAL</div>
  <div *ngIf="AppEnv !== 'DEV'" class="bubble" style="background-color: #32e108;">API : SERVER</div>
</ng-container>

<style>
  .bubble {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 128px;
    height: 44px;
    color: #000;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.45);
    z-index: 9999999999;
  }
</style>
